@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@500&display=swap');

*{
  box-sizing: border-box;
}

body{
	background-color: #ADEFD1;
	width: 100%;
	height: 100%;
	margin: 0;
}

header{
	background-color: #00203F;
	width: 100%;
	height: 50px;
	color: #ADEFD1;
	position: fixed;
	top: 0;
	left: 0;
}

nav{
	background-color: #00203F;
	width: 100%;
	margin-top: 50px;
	
}

header h1{
	font-size: 2rem;
	display: inline;
  	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	margin-top: 1rem;
	margin-left: 1rem;
}

.mobile-button{
	float: right;
    margin-top: 8px;
	margin-right: 1rem;
	border-radius: 5px;
	font-size: 1.5rem
}

#toggle{
	display: none
}


label:hover{
	border: 1px solid #ADEFD1;
	border-radius: 5px;
	padding: 2px 4px
}

.menu a{
	display: block;
	text-decoration: none;
	color: #ADEFD1;
	font-size: 1rem;
	line-height: 1rem;
	padding: 1rem;
	text-align: center;
	border-bottom: 1px solid #ADEFD1;
	font-family: 'Raleway', 'Arial', sans-serif;
}

.menu a:hover{
	letter-spacing: 3px;
	transition: all .3s ease-in-out;
}

.wrapper{
	font-family: 'Raleway', 'Arial', sans-serif;
	width: 100%;
	height: 100%;
	margin-top: 80px;
}

.boxes{
	background-color: rgba(255,255,255, .7);
	width: 85%;
	margin: 2rem auto;
	padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 5px 5px 15px -5px #00203F;
	font-size: 100%;
	line-height: 1.5rem;	
}

#uniqe{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	align-items: center;
}

@media (min-width: 670px){
	.mobile-button{
		display: none
	}
	nav{
	   position: fixed;
	   top: 0;
   	   left: 0; 
	}
    .menu a{
		float: right;
		border-bottom: none;
		display: block
	}	
	.wrapper{
		margin-top: 130px;
		width: 100%;
    	height: 100%;
	}
	.boxes{
		width: 70%;
	}
}

@media (min-width: 920px){
	nav{
		margin-top: 50px
	}
	.menu a{
		font-size: 1.2rem;
		padding: 1.5rem;
		
	}
	.boxes{
		font-size: 1.2rem;
		line-height: 2rem;
		padding: 2rem 3rem
	}
	.wrapper{
		margin-top: 150px;
		width: 100%;
	    height: 100%;
	}
	.boxes{
		width: 60%;
	}
}


.text-align{
	text-align: center
}

.text-align h2{
	margin-bottom: 2rem;	
}


.boxes h3{
	border-bottom: 1px solid #00203F;
	padding-bottom: 10px;
	width: 60%
}

.boxes a{
	text-align: center;
	text-decoration: none;
	display: block;
	color: black;
}

.boxes a:hover{
	color: #ADEFD1;
	font-weight: bold;
}


.footer{
	background-color: #00203F;
	width: 100%;
	height: 150px;
	color: #ADEFD1;
	margin-top: 80px;
}